.header {
  background-color: var(--violet);
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  margin-right: 5.2%;
  column-gap: 20px;
  /* border: 1px solid red; */
}

@media screen and (min-width: 1000px) {
  .left {
    margin-right: 11.45%;
  }
}
