.header {
  background-color: var(--violet);
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  margin-right: 5.2%;
  column-gap: 20px;
  align-items: center;
  /* border: 1px solid red; */
}

@media screen and (min-width: 678px) {
  .left {
    margin-right: 7.5%;
  }
}

@media screen and (min-width: 1100px) {
  .left {
    margin-right: 11.4%;
  }
}
